{% extends 'base.html' %}
{% load addresess_custom %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
  <style>
    .UList {
      list-style-type: none;
    }

    .green-dot::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
  }

  .red-dot::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
  }

  .yellow-dot::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
  }
  </style>

  <div class="container-fluid">
    <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>
    <div class="col-md-auto">
      <a href="{% url 'addrs:list' %}" type="button" class="btn btn-primary">Show all</a>
    </div>
    <div class="col col-lg-2">
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="row">
          <div class="col-4">
            Groups<hr />
            <ul class="UList">
              {% for group in groups %}
                <li>
                  <a href="{% url 'addrs:filter_list' obj="group" cond=group.id %}">{{ group }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-4">
            Subnetworks<hr />
            <ul class="UList">
              {% for subnet in subnets %}
                <li>
                  <a href="{% url 'addrs:filter_list' obj="subnet" cond=subnet|change_slash %}">{{ subnet }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-4">
            Vlans<hr />
            <ul class="UList">
              {% for vlan in vlans %}
                <li>
                  <a href="{% url 'addrs:filter_list' obj="vlan" cond=vlan.id %}">{{ vlan }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Address</th>
              <th scope="col">Last Ping</th>
              <th scope="col">Group</th>
              <th scope="col">Sub</th>
              <th scope="col">Vlan</th>
            </tr>
          </thead>
          <tbody>
            {% for address in addresses %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                  {% if address|get_status %}
                    <a href="{% url 'addrs:address_detail' pk=address.id %}" class="green-dot">{{ address }}</a>
                  {% else %}
                    <a href="{% url 'addrs:address_detail' pk=address.id %}" class="red-dot">{{ address }}</a>
                  {% endif %}
                </td>
                <td>{{ address|get_last_ping }}</td>
                <td>
                  {% if address.group == None %}
                    -
                  {% else %}
                    {{ address.group }}
                  {% endif %}
                </td>
                <td>
                  {% if address.subnet == None %}
                    -
                  {% else %}
                    {{ address.subnet }}
                  {% endif %}
                </td>
                <td>
                  {% if address.vlan == None %}
                    -
                  {% else %}
                    {{ address.vlan }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
